body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E0F6EE
}


html, #root {
  background-color: #E0F6EE
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.typewriter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.typewriter h1 {
  text-align: center;
  justify-content: center;
  color: black;
  font-family: monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .10em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 4.5s steps(30, end),
    blink-caret .8s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 50% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  40% { border-color: orange }
}

.play {
  text-align: center;
  justify-content: center;
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.play:hover  {
  color: black;
}

.play2 {
  position: absolute;
  left: 42%;
  top: 55%;
  transform: translate(-50%, -50%);
  padding: 10px;
  border-radius: 4px;
  border: 2px solid black;
  background-color: orange;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}

.App {
  text-align: center;
  height: 100vh;
  padding: 40px;
}

input[type="text"]:not(.form-control){
  width: 60px;
  height: 60px;
  border-radius: 5px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  transform: rotateX(5deg) rotateY(5deg);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}

.keyLetter {
  width: 10%;
  display: block;
  height: 60px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
}

.keyboard {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}


button {
  width: 60px;
  height: 60px;
  margin-left: 5px;
  border-radius: 10px;
  font-size: 30px;
  color: black;
  background-color: rgb(228, 180, 180);
  cursor: pointer;
  text-align: center;
}

button.play2 {
  width: 143px;
  text-align: center;
  height: 60px;
  margin-top: 8px;
}


/* input.form-control#exampleForm.ControlInput1{
  width: 120px;
  height: 20px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
} */

.keyboardBase {
  position: absolute;
  left: 25%;
  bottom: -15%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(20, 30px);
  grid-template-rows: repeat(3, 60px);
  grid-gap: 5px;
  justify-content: center;
}


.key {
  background-color: rgb(228, 180, 180);
  border: 2px solid black;
  width: 60px;
  height: 60px;
  border-radius: 5px;
  grid-column: span 2;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  text-align: center;
}

.key:hover {
border: 1px solid #eeeeee;

}